nav ul {
  list-style: none;
  text-align: justify;
  display: flex;
  gap: 10px;
  font-size: 25px;
  margin: 0 auto;  

border-bottom: 1px solid #ccc;
width: 100%;
}
nav ul a{
    text-decoration: none;
    color: black;
    text-align: center;
}
nav ul a:hover{
    color: blue;
    text-decoration: underline #ca0606;
}