.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: justify;
  display: flex;
  gap: 10px;
  font-size: 25px;
  margin: 0 auto;  

}
nav ul a{
    text-decoration: none;
    color: black;
    text-align: center;
}
nav ul a:hover{
    color: blue;
    text-decoration: underline 3px #7767d4;
}
.logo{
  background: white;
}
.logo img{
  width: 100px;
 

}

/* 
.....................................Footer..................... */
.footer-logo img{
 width: 100px;
}
footer{
  border-top: 1px solid #ccc;
}